<div class="filters-wrapper" ng-controller="filterCtrl as ctrl">
    <div class="top-wrapper">
        <div class="title filter-item">
            <h1>Academics</h1>
        </div>
        <div class="prog-count filter-item">
            <div class="chosen-filters">
                <div class="sel-filter" title="Remove {{sing}} filter." ng-repeat="sing in filters">
                    <span class="label label-primary" ng-click="removeFilter(sing)">{{sing}}</span>
                </div>
            </div>
        </div>
        <div class="search-holder filter-item search">
            <div id="custom-search-input">
                <div class="input-group">
                    <input ng-model="search" type="text" class="search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="filters filter-item">
            <div class="btn-group">
                <button type="button" class="btn btn-lg btn-default" ng-click="filterClick('filter')" ng-class="filAct? 'active' : ''">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
                <button class="btn btn-lg btn-default" ng-click="filterClick('loc')" ng-class="locAct ? 'active' : ''">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="bottom-wrapper" ng-class="filterState()">
        <div class="filter-container" ng-class="filterState()">
            <div class="type-holder">
                <div class="type-holder-inner">
                    <div class="input-group input-column" ng-repeat="(key, value) in options">
                        <span>{{key}}</span>
                        <div class="checkbox" ng-repeat="item in value">
                            <label>
                                <input checklist-model="checkedTypes" checklist-value="item" ng-click="setFilters(false)" type="checkbox" id="item" value="{{item}}" ng-checked='isChecked(item)'> {{item}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-holder" ng-model='selectLoc'>
                <div class="map-inner">
                    <datamap map="mapObject" plugins="mapPlugins" plugin-data="mapPluginData" on-click="updateActiveGeography">
                    </datamap>
                </div>
            </div>
            <div class="static-bottom">
            </div>
        </div>
    </div>
    <prog-tiles openf="openf" filters="filters" search="search" data="data"></prog-tiles>
</div>
